
.root {
	-fx-background-image: url("/images/wall.jpg");
	-fx-background-size: 100% 100%;
	-fx-font-family: "League Gothic";
}


/* Layout Buttons Startseite */
.button {
    -fx-background-color: linear-gradient(to bottom, #665F5F, #000000);
    -fx-text-fill: white;
	-fx-min-width: 250px;
	-fx-min-height: 60px;
    -fx-font-size: 1.8em;
    -fx-padding: 0.2em 0.2em 0.2em 0.2em;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, 0, 2);
    -fx-opacity: 0.8;
}
.button:hover {
    -fx-background-color: linear-gradient(to bottom, #376331, #000000);
    -fx-opacity: 0.9;
}
.button:pressed {
    -fx-scale-x: 0.96;
    -fx-scale-y: 0.96;
    -fx-translate-y: 2px;
}
.bottom {
	-fx-padding: 0 0 5em 0;
}
.right {
	-fx-padding: 0 0.1em 0 0;
}



.button_ok {
    -fx-background-color: linear-gradient(to bottom, #665F5F, #000000);
    -fx-text-fill: white;
	-fx-min-width: 60px;
	-fx-min-height: 60px;
    -fx-font-size: 2.2em;
    -fx-padding: 0.2em 0.2em 0.2em 0.2em;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, 0, 2);
    -fx-opacity: 0.8;
}
.button_ok:hover {
    -fx-background-color: linear-gradient(to bottom, #376331, #000000);
    -fx-opacity: 0.9;
}
.button_ok:pressed {
    -fx-scale-x: 0.96;
    -fx-scale-y: 0.96;
    -fx-translate-y: 2px;
}
.button_ok:disabled {
    -fx-opacity: 0.5;
    -fx-background-color: #cccccc;
}




.banner {
	-fx-font-size: 10em;
	-fx-padding: 0.5em 0 0;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, 0, 2);
}



.dropdown {
    -fx-background-color: linear-gradient(to bottom, #665F5F, #000000);
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-font-size: 1.6em;
    -fx-text-fill: white;
    -fx-padding: 0.4em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, 0, 2);
    -fx-opacity: 0.85;
}

.dropdown:hover {
    -fx-background-color: linear-gradient(to bottom, #376331, #000000);
    -fx-opacity: 0.95;
}



.info {
	-fx-font-size: 2em;
	-fx-padding: 0.5em;
	-fx-text-fill: white;
	-fx-background-color: linear-gradient(to bottom, #665F5F, #000000);
}



.SmallBanner {
	-fx-font-size: 2.5em;
	-fx-padding: 0 0 0.5em 0;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, 0, 2);
}



.button_conf {
	-fx-background-color: linear-gradient(to bottom, #870707, #540404);
	-fx-text-fill: white;
	-fx-font-size: 1.5em;
}
.button_conf:hover {
    -fx-background-color: linear-gradient(to bottom, #D61313, #540404);
    -fx-opacity: 0.9;
}
.button_conf:pressed {
    -fx-scale-x: 0.96;
    -fx-scale-y: 0.96;
    -fx-translate-y: 2px;
}



.button_status {
	-fx-background-color: linear-gradient(to bottom, #376331, #540404);
	-fx-text-fill: white;
	-fx-font-size: 1.5em;
}
.button_status:hover {
    -fx-background-color: linear-gradient(to bottom, #70C265, #540404);
    -fx-opacity: 0.9;
}
.button_status:pressed {
    -fx-scale-x: 0.96;
    -fx-scale-y: 0.96;
    -fx-translate-y: 2px;
}



.button_about {
	-fx-background-color: linear-gradient(to bottom, #E0BF53, #540404);
	-fx-text-fill: white;
	-fx-font-size: 1.5em;
}
.button_about:hover {
    -fx-background-color: linear-gradient(to bottom, #F0D47A, #540404);
    -fx-opacity: 0.9;
}
.button_about:pressed {
    -fx-scale-x: 0.96;
    -fx-scale-y: 0.96;
    -fx-translate-y: 2px;
}



.button_delstation {
	-fx-background-color: linear-gradient(to bottom, #241B1B, #000000);
	-fx-text-fill: white;
	-fx-font-size: 1.5em;
}
.button_delstation:hover {
    -fx-background-color: #000000;
    -fx-opacity: 0.9;
}
.button_delstation:pressed {
    -fx-scale-x: 0.96;
    -fx-scale-y: 0.96;
    -fx-translate-y: 2px;
}



.button_tableview {
	-fx-background-color: #53944A;
	-fx-text-fill: white;
	-fx-font-size: 1em;
	-fx-min-width: 60px;
	-fx-min-height: 60px;
    -fx-padding: 0 0.3em 0 0.3em;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, 0, 2);
    -fx-opacity: 0.9;
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}
.button_tableview:hover {
    -fx-background-color: #376930;
    -fx-opacity: 1.0;
}
.button_tableview:pressed {
    -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;
    -fx-translate-y: 2px;
}



.button_createtable {
	-fx-background-color: linear-gradient(to bottom, #376331, #2E5729);
	-fx-text-fill: white;
	-fx-font-size: 0.9em;
	-fx-padding: 0.4em 0.4em 0.4em 0.4em;
	-fx-pref-width: 150px;
	-fx-pref-height: 60px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, 0, 2);
    -fx-opacity: 0.9;
}
.button_createtable:hover {
    -fx-background-color: linear-gradient(to bottom, #1E381B, #2E5729);
    -fx-opacity: 1.0;
}
.button_createtable:pressed {
    -fx-scale-x: 0.96;
    -fx-scale-y: 0.96;
    -fx-translate-y: 2px;
}



.config-header {
	-fx-font-size: 2em;
	-fx-background-color: transparent;
	-fx-padding: 0.5em;
}
.config-form {
	-fx-background-color: linear-gradient(to bottom, #665F5F, #000000);
	-fx-text-fill: white;
	-fx-font-size: 1.8em;
	-fx-padding: 0.5em;
}
.config-buttons {
	-fx-font-size: 0.9em;
	-fx-padding: 0.4em 0.4em 0.4em 0.4em;
	-fx-pref-width: 150px;
	-fx-pref-height: 60px;
}



.button_expert {
	-fx-background-color: linear-gradient(to bottom, #870707, #540404);
	-fx-text-fill: white;
	-fx-font-size: 0.9em;
	-fx-padding: 0.4em 0.4em 0.4em 0.4em;
	-fx-pref-width: 150px;
	-fx-pref-height: 60px;
}
.button_expert:hover {
    -fx-background-color: linear-gradient(to bottom, #000000, #870707);
    -fx-opacity: 0.9;
}
.button_expert:pressed {
    -fx-scale-x: 0.96;
    -fx-scale-y: 0.96;
    -fx-translate-y: 2px;
}



.table-form {
	-fx-background-color: linear-gradient(to bottom, #665F5F, #000000);
	-fx-text-fill: white;
	-fx-font-size: 1em;
	-fx-padding: 0.4em;
}



.tablebuild-form {
	-fx-background-color: linear-gradient(to bottom, #665F5F, #000000);
	-fx-text-fill: white;
	-fx-font-size: 1em;
	-fx-padding: 0.25em;
}
.tablebuild-form .column-header .label {
    -fx-font-size: 1.4em;
    -fx-padding: 0.14em;
}



.delete-button {
    -fx-background-color: transparent;
    -fx-text-fill: red;
    -fx-font-size: 16;
    -fx-padding: 0;
    -fx-min-width: 20;
    -fx-max-width: 24;
    -fx-min-height: 18;
    -fx-max-height: 22;
}
.delete-button:hover {
    -fx-background-color: transparent;
}



.white-text_big {
	-fx-font-size: 1.25em;
    -fx-text-fill: white;
    -fx-padding: 0 0 0.5em 0;
}
.white-text_normal {
	-fx-font-size: 1.0em;
	-fx-text-fill: white;
	-fx-padding: 0 0 0.5em 0;
}
.white-text_small {
	-fx-font-size: 0.75em;
	-fx-text-fill: white;
	-fx-padding: 1em 0em 1em 0;
}
